/*===================================================================================================================*/
/*                                                                                                                   */
/*                                                     Caractères                                                    */
/*                                                                                                                   */
/*===================================================================================================================*/

* {
	text-align: center;
	font-family: garamond;
	color: #ffffff;
}

a {
	text-decoration: none;
	transition: ease 0.2s;
}
a:hover {
	color: #abcdef;
	cursor: pointer;
}

body {
	background-color: #303841;
	text-shadow: 1px 1px 1px #000000;
	margin: 2%;
	font-size: 125%;
}

button {
	font-family: consolas;
	background: #303841;
	font-weight: bold;
}

#div-contenu {
	border: 4px #ffffff solid;
	padding: 1%;
}

iframe {
	width: 100%;
	aspect-ratio: 4;
	border: 0;
}

input {
	font-size: 150%;
	font-family: consolas;
	position: sticky;
	top: 1%;
	background-color: #303841;
}

nav {
	text-align: left;
	font-size: 175%;
}

table {
	border: 2px #ffffff solid;
	width: auto;
	margin: auto;
}
.table-invisible {
	border: 0;
}

td {transition: ease 0.2s;}
td:hover {
	cursor: pointer;
	background-color: #ffffff;
	color: #000000;
	text-shadow: 0 0 0;
}

th {
	padding: 15px;
}

li {
	margin: 1%;
	transition: ease 0.2s;
}
li:hover {color: #abcdef;}

.inutile {background-color: #cc0000;}
.vide {background-color: #cccccc;}
.vide:hover {cursor: not-allowed;}
.utile {background-color: #00cccc}
.doublon {border: 2px dashed #cccc00;}

@media (orientation: landscape) and (min-width: 910px) {
/*	body {font-size: 100%;}*/
/*	#div-contenu {columns: 2;}*/
}
@media (orientation: landscape) and (min-width: 1350px) {
/*	body {font-size: 100%;}*/
/*	#div-contenu {columns: 3;}*/
}

/*===================================================================================================================*/
/*                                                                                                                   */
/*                                                     Caractères                                                    */
/*                                                                                                                   */
/*===================================================================================================================*/
