
a {
	text-decoration: none;
	transition: ease 0.2s;
	color: #ffffff;
}
a:hover {
	color: #000000;
	cursor: pointer;
}

body {
	background-color: #303841;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	text-align: center;
	font-family: consolas;
/*	font-size: 200%;*/
}

@media (orientation: landscape) and (min-width: 910px) {
	body {
		columns: 2;
/*		font-size: 150%;*/
	}
}

@media (orientation: landscape) and (min-width: 1350px) {
	body {
		columns: 3;
/*		font-size: 100%;*/
	}
}

nav {
	text-align: left;
}

iframe {
	width: 100%;
	aspect-ratio: 2;
	border: 0;
}

input {
	font-size: 150%;
	font-family: consolas;
}

table {
	border: 2px #ffffff solid;
	width: 100%;
}

td {transition: ease 0.2s;}
td:hover {
	cursor: pointer;
	background-color: #ffffff;
	color: #000000;
	text-shadow: 0 0 0;
}
