/*===================================================================================================================*/
/*                                                                                                                   */
/*                                                       Dames                                                       */
/*                                                                                                                   */
/*===================================================================================================================*/


body {
/*	text-align: center;*/
	font-size: 175%;
	background-color: #008000;
	text-shadow: 2px 2px 2px #ffffff;
}

table {
	width: 25%;
	margin: auto;
}

td {
}

.blanc {
	background-color: #ffffff;
}

.noir {
	background-color: #000000;
}

td {
	cursor: pointer;
}


/*===================================================================================================================*/
/*                                                                                                                   */
/*                                                       Dames                                                       */
/*                                                                                                                   */
/*===================================================================================================================*/