/*===================================================================================================================*/
/*                                                                                                                   */
/*                                                       Dames                                                       */
/*                                                                                                                   */
/*===================================================================================================================*/

body {
	text-align: center;
	font-size: 200%;
	background-color: #008000;
	color: #888888;
}

.plateau {
	display: inline-block;
	border: 5px solid black;
	width: 40%;
}

.ligne {display: flex;}

.case {
	width: 100%;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: 2px inset #888888;
}

.blanche {
	background-color: #ffffff;
}

.noire {
	background-color: #000000;
}

/*===================================================================================================================*/
/*                                                                                                                   */
/*                                                       Dames                                                       */
/*                                                                                                                   */
/*===================================================================================================================*/