/*===================================================================================================================*/
/*                                                                                                                   */
/*                                                     Mah-jong                                                      */
/*                                                                                                                   */
/*===================================================================================================================*/



td {
/*	border: 2px #000000 solid;*/
}


a {
	cursor: pointer;
	transition: 0.2s;
}
a:hover {
	margin-left: 5%;
}
.a-tuiles-fleurs, .a-tuiles-saisons, .a-tuiles-combinaisons, .a-tuiles-remplacement {
	cursor: not-allowed;
}


body {
	text-align: center;
	background: #008000;
	color: #ffffff;
	text-shadow: 2px 2px 1px #000000;
	font-size: 150%;
	font-family: Bahnschrift;
}

table {
	margin: auto;
}
#plateau {
	width: 100%;
}
#exposition {
	font-size: 200%;
}

.td-main, #pioche-main {
	font-size: 275%;
}

th {
	font-size: 175%;
}

#pioche-main {
	background-color: #0027b4;
}

.vertical .a-tuiles-mur, #haut-droite, #bas-gauche {
	writing-mode: vertical-rl;
	transform: rotate(-90deg);
	margin-bottom: -15px;
	text-shadow: -2px 2px 1px #000000;
}


svg {
	width: 250px;
	height: 250px;
}
circle, polygon {
	fill: #0027b4;
	stroke: #ffffff;
	stroke-width: 2px;
}
text {
	text-anchor: middle;
	alignment-baseline: middle;
	fill: #ffffff;
}
line {
	stroke: #ffffff;
	stroke-width: 1px;
}

.pile {
	position: relative;
}
.haut {
	position: absolute;
	bottom: 25%;
	right: 25%;
}
.tresHaut {
	position: absolute;
	bottom: 50%;
	right: 50%;
}
#haut-droite .haut, #bas-gauche .haut {
	right: -25%;
}

.encadrement {
	padding: 17px;
}

button {
	transition: 0.2s;
	font-size: 100%;
	font-family: Bahnschrift;
	border: 2px #ffffff solid;
	border-radius: 10px;
	margin-top: 5%;
	margin-bottom: 5%;
	box-shadow: 2px 2px 1px #000000;
	background-color: #0027b4;
	color: #ffffff;
	text-shadow: 2px 2px 1px #000000;
}
button:hover {
	background-color: #3352C3;
	cursor: pointer;
	margin-left: 5%;
}
button:active {
	background-color: #667DD2;
}

.selectionne {
	background-color: #ffff00;
}

/*===================================================================================================================*/
/*                                                                                                                   */
/*                                                     Mah-jong                                                      */
/*                                                                                                                   */
/*===================================================================================================================*/