/*===================================================================================================================*/
/*                                                                                                                   */
/*                                                      Échecs                                                       */
/*                                                                                                                   */
/*===================================================================================================================*/


body {
	font-size: 275%;
	background-color: #008000;
}

table {
	width: 30%;
	margin: auto;
}

tr {
	cursor: pointer;
}

.blanc {
	background-color: #ffffff;
}

.noir {
	background-color: #000000;
}


/*===================================================================================================================*/
/*                                                                                                                   */
/*                                                      Échecs                                                       */
/*                                                                                                                   */
/*===================================================================================================================*/