/*===================================================================================================================*/
/*                                                                                                                   */
/*                                                        Poker                                                      */
/*                                                                                                                   */
/*===================================================================================================================*/


body {
	font-size: 275%;
	background-color: #008000;
}

table {
	width: 30%;
	margin: auto;
}

span {
	background-color: #ffffff;
}


/*===================================================================================================================*/
/*                                                                                                                   */
/*                                                        Poker                                                      */
/*                                                                                                                   */
/*===================================================================================================================*/