/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                                                                                   */
/*                                                                                                                   */
/* ================================================================================================================= */

.div-animation {animation: animation1 3s infinite;}
.div-animation:hover {animation-play-state: paused;}

@keyframes animation1 {
	0% {background-image: url(image-1.png);}
	25% {background-image: url(image-2.png);}
	50% {background-image: url(image-3.png);}
	75% {background-image: url(image-2.png);}
	100% {background-image: url(image-1.png);}
}

span {margin: 10px;}
.alias {cursor: alias;}
.all-scroll {cursor: all-scroll;}
.auto {cursor: auto;}
.cell {cursor: cell;}
.col-resize {cursor: col-resize;}
.context-menu {cursor: context-menu;}
.copy {cursor: copy;}
.crosshair {cursor: crosshair;}
.default {cursor: default;}
.e-resize {cursor: e-resize;}
.ew-resize {cursor: ew-resize;}
.grab {cursor: grab;}
.grabbing {cursor: grabbing;}
.help {cursor: help;}
.move {cursor: move;}
.ne-resize {cursor: ne-resize;}
.nesw-resize {cursor: nesw-resize;}
.no-drop {cursor: no-drop;}
.none {cursor: none;}
.not-allowed {cursor: not-allowed;}
.n-resize {cursor: n-resize;}
.ns-resize {cursor: ns-resize;}
.nw-resize {cursor: nw-resize;}
.nwse-resize {cursor: nwse-resize;}
.pointer {cursor: pointer;}
.progress {cursor: progress;}
.row-resize {cursor: row-resize;}
.se-resize {cursor: se-resize;}
.s-resize {cursor: s-resize;}
.sw-resize {cursor: sw-resize;}
.text {cursor: text;}
.vertical-text {cursor: vertical-text;}
.wait {cursor: wait;}
.w-resize {cursor: w-resize;}
.zoom-in {cursor: zoom-in;}
.zoom-out {cursor: zoom-out;}
.url {cursor: url("souris.png"), auto}

.div-b {display: inline-block;}
.div-c {
	display: flex;
	flex-wrap: wrap;
}
.div-d {
	background: green;
	padding: 50px;
	margin: 50px;
	width: 100px;
	height: 25px;
}
.div-b:hover {border: 2px solid black;}
.div-groupe button:not(:last-child) {border-right: none;}
.div-groupe button:hover {background-color: blue;}

.div-b img {filter: grayscale();}
.img-c {
	width: 500px;
	transition: transform 0.5s;
}
.img-c:hover {transform: scale(1.5);}

button {
	transition-duration: 0.4s;
	cursor: pointer;
}
.button-1:hover {background-color: blue;}
.button-2:hover {box-shadow: 2px 2px 5px;}
.button-3:hover span:after {opacity: 1;}
.button-4 {box-shadow: 0 9px gray;}
.button-4:active {
	background-color: blue;
	box-shadow: 0 5px black;
	transform: translateY(4px);
}
.button-5 {opacity: 0.5;}
.button-5:hover {opacity: 1}

span:after {
	content: ">";
	opacity: 0;
	transition: 0.5s;
}

/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                                                                                   */
/*                                                                                                                   */
/* ================================================================================================================= */
