/*===================================================================================================================*/
/*                                                                                                                   */
/*===================================================================================================================*/


.divAnimation1 {animation: animation1 3s infinite;}
.divAnimation1:hover {animation-play-state: paused;}

@keyframes animation1 {
	0% {background-image: url(image1.png);}
	25% {background-image: url(image2.png);}
	50% {background-image: url(image3.png);}
	75% {background-image: url(image2.png);}
	100% {background-image: url(image1.png);}
}


/*===================================================================================================================*/
/*                                                                                                                   */
/*===================================================================================================================*/